<footer class="bg-white rounded-lg shadow">
    <div class="w-full mx-auto p-4 md:py-8 ">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <div class="bg-logo bg-cover w-12 h-12"></div>
                <span class="self-center text-2xl font-semibold whitespace-nowrap">WindFarmHub</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0">
                <li>
                    <a href="#"
                        class="relative after:absolute after:bg-blue-400 after:w-full after:h-[1px] after:left-0 after:bottom-[-2px] after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100 me-4 md:me-6">
                        Sobre Nós
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="relative after:absolute after:bg-blue-400 after:w-full after:h-[1px] after:left-0 after:bottom-[-2px] after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100 me-4 md:me-6">
                        Política de Privacidade
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="relative after:absolute after:bg-blue-400 after:w-full after:h-[1px] after:left-0 after:bottom-[-2px] after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100 me-4 md:me-6">
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center">© 2024 <a href=""
                class="hover:underline">WindFarmHub</a>. All Rights Reserved.</span>
    </div>
</footer>