<app-navbar id="mode-detail"></app-navbar>

<section id="models" class="bg-gray-100 h-full mt-10">
    <div class="py-5">
        <div class="text-center m-auto my-20 text-2xl">
            <h1 class="font-bold text-black mb-4">Modelo {{ model.name }}</h1>
        </div>
        <div id="render-section" class=" h-max grid lg:grid-cols-2 md:grid-cols-1 gap-12 lg:gap-8 px-4 sm:px-6 lg:px-8">
            <div id="photo-model"
                class="h-max text-center px-5 rounded-2xl cursor-pointer w-9/12 justify-center mx-auto items-center">
                <div class="w-full h-96 bg-model_eco80 bg-cover"></div>
                <h3 class="text-xl font-bold py-4 bg-gray-300">{{ model.name }}</h3>
                <p class="leading-relaxed bg-gray-300">{{ model.description }}</p>
            </div>

            <div id="render-table" class="overflow-x-auto">
                <table class="w-full divide-y divide-gray-300">
                    <thead class="bg-gray-100">
                        <tr>
                            <th scope="col"
                                class="px-4 py-2 text-left text-xs font-medium text-black uppercase tracking-wider">
                                Especificação</th>
                            <th scope="col"
                                class="px-4 py-2 text-left text-xs font-medium text-black uppercase tracking-wider">
                                Valor</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-300">
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Nome</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.name || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Potência Nominal</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.power_rated_power || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Potência Flexível</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.power_flexible_ratings || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Velocidade do Vento de Corte</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.power_cut_in_speed || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Velocidade do Vento Nominal</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.power_rated_speed || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Velocidade do Vento de Corte Final</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.power_cut_out_speed || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Velocidade do Vento de Sobrevivência</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.power_survival_speed || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Zona de Vento (DIBt)</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.power_wind_zone || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Classe de Vento (IEC)</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.power_wind_class || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Diâmetro do Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_diameter || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Área Varrida pelo Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_swept_area || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Número de Pás do Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_blades || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Velocidade Máxima do Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_max_speed || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Velocidade das Pontas das Pás do Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_tipspeed || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Tipo de Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_type || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Material do Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_material || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Fabricante do Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_manufacturer || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Densidade de Potência do Rotor 1</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_power_density1 || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Densidade de Potência do Rotor 2</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.rotor_power_density2 || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Tipo de Caixa de Engrenagens</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.gearbox_type || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Estágios da Caixa de Engrenagens</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.gearbox_stages || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Rácio da Caixa de Engrenagens</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.gearbox_ratio || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Fabricante da Caixa de Engrenagens</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.gearbox_manufacturer || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Tipo de Gerador</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.generator_type || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Número de Geradores</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.generator_number || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Velocidade Máxima do Gerador</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.generator_max_speed || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Voltagem do Gerador</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.generator_voltage || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Conexão à Rede do Gerador</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.generator_grid_connection || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Frequência da Rede do Gerador</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.generator_grid_frequency || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Fabricante do Gerador</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.generator_manufacturer || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Altura do Cubo da Torre</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.tower_hub_height || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Tipo de Torre</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.tower_type || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Formato da Torre</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.tower_shape || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Proteção contra Corrosão da Torre</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.tower_corrosion_protection || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Fabricante da Torre</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.tower_manufacturer || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Peso de Uma Única Pá</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.weight_single_blade || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Peso do Cubo</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.weight_hub || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Peso do Rotor</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.weight_rotor || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Peso da Nacele</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.weight_nacelle || 'n/a' }}</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-2 whitespace-nowrap">Peso Total da Torre</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{ model.weight_tower_max || 'n/a' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<div class="bg-gray-100 mx-auto p-4">
    <div class="hs-accordion-group space-y-4">
        <div class="hs-accordion bg-white border border-transparent rounded-xl shadow-sm"
            [ngClass]="{'hs-accordion-active:border-gray-200': activeSection === 0}"
            id="hs-active-bordered-heading-one">
            <button (click)="toggleSection(0)"
                class="hs-accordion-toggle inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 "
                aria-controls="hs-basic-active-bordered-collapse-one">
                Nacel
                <svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5v14"></path>
                </svg>
                <svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                </svg>
            </button>
            <div id="hs-basic-active-bordered-collapse-one"
                class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                [ngClass]="{'hidden': activeSection !== 0}">
                <div class="pb-4 px-5">
                    <div class="flex justify-center items-center bg-cover bg-no-repeat bg-center bg-imageArmario"
                        style="height: 400px; width: 100%;"></div>
                    <div class="flex flex-wrap justify-center mt-4 space-x-4">
                        <button class="bg-red-500 text-white py-2 px-4 rounded-lg mt-2">PITCH PLC RESET</button>
                        <button class="bg-red-500 text-white py-2 px-4 rounded-lg mt-2">PITCHPOWER RESET</button>
                        <button class="bg-red-500 text-white py-2 px-4 rounded-lg mt-2">GALILEO RESET</button>
                        <button class="bg-red-500 text-white py-2 px-4 rounded-lg mt-2">KEY IN MANUAL</button>
                        <button class="bg-red-500 text-white py-2 px-4 rounded-lg mt-2" (click)="goToClosetDetails(model.name, 'conversor-de-potencia')">Conversor de Potência</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="hs-accordion bg-white border border-transparent rounded-xl shadow-sm"
            [ngClass]="{'hs-accordion-active:border-gray-200': activeSection === 1}"
            id="hs-active-bordered-heading-two">
            <button (click)="toggleSection(1)"
                class="hs-accordion-toggle inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 "
                aria-controls="hs-basic-active-bordered-collapse-two">
                Torre
                <svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5v14"></path>
                </svg>
                <svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                </svg>
            </button>
            <div id="hs-basic-active-bordered-collapse-two"
                class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                [ngClass]="{'hidden': activeSection !== 1}">
                <div class="pb-4 px-5">
                    <div class="text-center text-red-500 text-lg mt-4">Indisponível</div>
                </div>
            </div>
        </div>

        <div class="hs-accordion bg-white border border-transparent rounded-xl shadow-sm"
            [ngClass]="{'hs-accordion-active:border-gray-200': activeSection === 2}"
            id="hs-active-bordered-heading-three">
            <button (click)="toggleSection(2)"
                class="hs-accordion-toggle inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500"
                aria-controls="hs-basic-active-bordered-collapse-three">
                Base
                <svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5v14"></path>
                </svg>
                <svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                </svg>
            </button>
            <div id="hs-basic-active-bordered-collapse-three"
                class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                [ngClass]="{'hidden': activeSection !== 2}">
                <div class="pb-4 px-5">
                    <div class="text-center text-red-500 text-lg mt-4">Indisponível</div>
                </div>
            </div>
        </div>
    </div>
</div>