<div class="flex items-center justify-center max-h-screen w-full mt-5 mb-6">
    <!-- Estatísticas de Usuários -->
    <div class="bg-white rounded-lg shadow-md p-6 me-6">
        <h2 class="text-lg font-semibold mb-4">Nº total de modelos</h2>
        <p class="text-center text-xl" >10</p> <!--{{ activeUsers }}-->
    </div>
    <div class="bg-white rounded-lg shadow-md p-6 me-6">
        <h2 class="text-lg font-semibold mb-4">Nº de modelos ativos</h2>
        <p class="text-center text-xl" >10</p> <!--{{ activeUsers }}-->
    </div>
    <div class="bg-white rounded-lg shadow-md p-6 me-6">
        <h2 class="text-lg font-semibold mb-4">Estatísticas de Usuários</h2>
        <p class="text-center text-xl" >10</p> <!--{{ activeUsers }}-->
    </div>
</div>