<app-alert></app-alert>
<app-navbar id="home"></app-navbar>

<section id="home" class="mt-20 w-full">
    <div class="py-64 bg-home_nav bg-cover">
        <div class="text-center mb-12 mt-10">
            <h1 class="text-5xl md:text-5xl font-bold text-white leading-snug">WindFarmHub</h1>
        </div>
    </div>
</section>

<section id="services" class=" bg-gray-100">
    <div class="py-20">
        <div class="text-center m-auto mb-20 text-2xl">
            <h1 class="font-bold text-black mb-4">{{ getTranslatedText('home_our_services') }}</h1>
        </div>
        <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-12 lg:gap-8 px-4 sm:px6 lg:px-8">

            <div class="text-center px-5 rounded-2xl cursor-pointer">
                <div class="w-full h-96 bg-home_single3 bg-cover">
                </div>
                <h3 class="text-xl font-bold py-4">{{ getTranslatedText('home_our_services_title1') }}</h3>
                <p class="leading-relaxed">
                    {{ getTranslatedText('home_our_services_desc1') }}
                </p>
            </div>

            <div class="text-center px-5 rounded-2xl cursor-pointer">
                <div class="w-full h-96 bg-home_single4 bg-cover">
                </div>
                <h3 class="text-xl font-bold py-4">{{ getTranslatedText('home_our_services_title2') }}</h3>
                <p class="leading-relaxed">
                    {{ getTranslatedText('home_our_services_desc2') }}
                </p>
            </div>
        </div>
    </div>
</section>

<section id="aboutus" class=" bg-gray-100">
    <div class="py-20">

        <div class="grid lg:grid-cols-3 md:grid-cols-1">

            <div class="w-full h-96 bg-home_double bg-cover bg-fixed">
            </div>

            <div class="text-center bg-gray-300">
                <h3 class="text-xl font-bold py-12">{{ getTranslatedText('home_about_us') }}</h3>
                <p class="leading-relaxed pb-5 px-5">
                    {{ getTranslatedText('home_about_us_desc') }}
                </p>
            </div>

            <div class="w-full h-96 bg-home_double bg-cover bg-fixed">
            </div>

        </div>
    </div>
</section>

<section id="contact" class=" bg-gray-100">
    <div class="pb-32 pt-10">
        <div class="grid lg:grid-cols-2 md:grid-cols-1">

            <div class="text-center text-white h-max w-7/12 lg:ml-auto bg-[#0A0A0A] bg-opacity-75">
                <h3 class="text-xl font-bold py-8">{{ getTranslatedText('home_contact_us1') }}</h3>
                <p class="leading-relaxed pb-10">{{ getTranslatedText('home_contact_us_desc') }}</p>
                <button class="items-center bg-[#3A97CB] text-xl py-2 ps-4 pe-4">{{ getTranslatedText('home_contact_us_button') }}</button>
            </div>
            <div class="text-center text-white h-max w-7/12 lg:mt-5 lg:ml-0 bg-[#3A97CB]">
                <h3 class="text-xl font-bold py-8">{{ getTranslatedText('home_contact_us2') }}</h3>
                <p class="leading-relaxed pb-10">{{ getTranslatedText('home_contact_us_desc2') }}</p>
                <button class="items-center bg-[#0A0A0A] bg-opacity-75 text-xl py-2 ps-4 pe-4">{{ getTranslatedText('home_contact_us_button') }}</button>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>